.checkbox {

  display: flex;
  flex-direction: row !important;
  align-items: center;
  margin-bottom: 10rem;
  font-size: 16rem;
  font-weight: 500;
  line-height: 110%;
  color: #2B313E;
  cursor: pointer;

  &__input {
    position: absolute;
    appearance: none;

    &:checked~.checkbox-custom .checkbox-custom__icon {
      opacity: 1;
    }

    &:default~.checkbox-custom {
      border: 2rem solid#B6B6B6;
    }

    &:checked~.checkbox-custom {
      border: 2rem solid #EE7203;
      background-color: #EE7203;
    }

    &:hover~.checkbox-custom {
      border: 2rem solid #EE7203;
    }

    &:disabled~.checkbox-custom {
      border: 2rem solid #B6B6B6;
      background: #E1E1E1;
    }
  }

  &-custom {
    position: relative;
    display: block;
    width: 24rem;
    height: 24rem;
    margin-right: 20rem;
    flex-shrink: 0;
    border: 2rem solid #B6B6B6;
    border-radius: 4rem;
    transition: all 0.3s;

    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 18rem;
      height: 18rem;
      opacity: 0;
      transition: opacity 0.1s ease;

      &:hover {
        border: 2rem solid #EE7203;
      }
    }
  }

  @media (max-width: $mobile) {
    font-size: 12rem;
  }
}